services:
  php:
    build:
      context: ./docker/php
    container_name: wp-php
    volumes:
      - html:/var/www/html
    entrypoint: >
      bash -lc '
        set -e;
        if [ ! -f /var/www/html/index.php ]; then
          rsync -a /usr/src/wordpress/ /var/www/html/ && chown -R www-data:www-data /var/www/html;
        fi;
        exec php-fpm -F
      '
    healthcheck:
      #test: ["CMD-SHELL", "ss -ltn | grep -q ':9000' || exit 1"]
      test:
        ["CMD", "bash", "-lc", "timeout 2 bash -lc '</dev/tcp/127.0.0.1/9000'"]
      interval: 5s
      timeout: 3s
      retries: 20
    expose:
      - "9000"
    networks: [wpnet]

  nginx:
    build:
      context: ./docker/nginx
    container_name: wp-nginx
    ports:
      - "8080:80"
    depends_on:
      php:
        condition: service_healthy
    volumes:
      - html:/var/www/html
    networks: [wpnet]

volumes:
  html: {}

networks:
  wpnet:
    driver: bridge
